In [2]:
# 리스트의 생김새

# 아무것도 포함하지 않은 빈 리스트
a = []
# 숫자를 원소값으로 가진 리스트
b = [1, 2, 3]
# 문자열을 요소값으로 가진 리스트
c = ['life', 'is', 'too', 'short']
# 숫자와 문자열을 함께 가진 리스트
d = [1, 2, 'life', 'is']
# 리스트 자체를 요소값으로 가진 리스트
e = [1, 2, ['life', 'is']]

a = list() # 비어 있는 리스트는 이렇게도 생성 가능.

In [3]:
# 리스트의 인덱싱과 슬라이싱

a = [1, 2, 3]
a

[1, 2, 3]

In [6]:
a[0] # 첫 번째 요소값 출력.

1

In [7]:
a[0] + a[2]

4

In [8]:
a[-1]

3

In [9]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [10]:
a[0]

1

In [11]:
a[-1]

['a', 'b', 'c']

In [12]:
a[-1][0]

'a'

In [14]:
# 삼중 리스트에서 인덱싱하기

a = [1, 2, ['a', 'b',['life', 'is']]]
a[2][2][0]

'life'

In [15]:
# 리스트 슬라이싱

a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [16]:
# 리스트 연산자

# 1. 리스트 더하기

a = [1, 2, 3]
b = [4, 5, 6]
a+b

[1, 2, 3, 4, 5, 6]

In [17]:
# 2. 리스트 반복하기(*)

a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [18]:
# 리스트 연산 오류

a = [1, 2, 3]
a[2] + "hi"
# a[2]에 저장된 값은 3이라는 정수인데 "hi"는 문자열이다. 정수와 문자열을 더할 수 없기 때문에 형 오류

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
# str함수를 사용하여 a[2]를 문자 '3'으로 타입을 변환해야 한다.

a = [1, 2, 3]
str(a[2]) + "hi"

'3hi'

In [21]:
# 리스트의 수정, 변경과 삭제

a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [22]:
a[1:2]

[2]

In [23]:
a[1:2] = ['a', 'b', 'c']
a

[1, 'a', 'b', 'c', 4]

In [40]:
# 리스트 수정할 때 주의할 점
l = [1, 2, 3]
l

[1, 2, 3]

In [42]:
# a[1:2] 와 같은 형식이 아닌 아래와 같이 표현하면 리스트 안에 리스트가 삽입됨.
l[1] = ['a', 'b', 'c']
l

[1, ['a', 'b', 'c'], 3]

In [46]:
# [] 사용해 리스트 요소 삭제하기

l[1:3] = []
l

[1]

In [47]:
# del 함수 사용해 요소 삭제하기

del l[0]
l

[]

In [48]:
# 리스트 관련 함수들

a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [50]:
a = [1, 5, 2, 6]
a.sort()  # 문자도 가능(알파벳 순서)
a

[1, 2, 5, 6]

In [51]:
# 위치변환

a = [1, 2, 3]
a.index(3)
# a.index(0) -> 0 값은 a리스트에 존재하지 않기 때문에 Value Error 발생.

2

In [53]:
# 리스트에 요소 삽입

a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [55]:
# 리스트 요소 제거
# remove(x)는 첫 번째로 나오는 x를 삭제한다.

a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [58]:
# 리스트 요소 끄집어내기(pop)
# pop()은 리스트의 맨 마지막 요소를 돌려 주고 그 요소는 삭제하는 함수.

a = [1, 2, 3]
print(a.pop())
print(a)

3
[1, 2]

In [59]:
a = [1, 2, 3]
print(a.pop(1))
print(a)

2
[1, 3]

In [60]:
# 리스트에 포함된 x의 개수 세기

a = [1, 2, 3, 1]
a.count(1)

2

In [63]:
# 리스트 확장
a = [1, 2, 3]
a.extend([4, 5])
print(a)
b = [6, 7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]