In [2]:
# Q1

# 홍길동 씨의 주민등록번호는 881120-1068234이다.
# 주민등록번호를 연원일 부분과 그 뒤의 숫자 부분으로 나누어 출력헤보자.

pin = "881120-1068234"
yyyymmdd = pin.split("-")

In [3]:
yyyymmdd

['881120', '1068234']

In [4]:
num = yyyymmdd[0]

In [7]:
print(num)
print(yyyymmdd[1])

881120
1068234

In [8]:
# 풀이

pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

In [12]:
# Q2

# 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해보자.

pin = "881120-1068234"
print(pin[7])

1

In [17]:
# Q3

# [1,3,5,4,2] 라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.

a = [1, 3, 5, 4, 2]
a.sort()
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [24]:
# Q4

# ['life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해보자.

a = ['life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

life is too short