In [1]:
t1 = (1, 2, 'a', 'b')
del t[0]

NameError: name 't' is not defined

In [2]:
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [11]:
# 인덱싱, 슬라이싱, 더하기, 곱하기

# 인덱싱
t1 = (1, 2, 'a', 'b')
print(t1[0])
print(t1[2])

# 슬라이싱
print(t1[1:3])

# +
t2 = (3, 4)
print(t1 + t2)

# X
print(t2 * 3)

1
a
(2, 'a')
(1, 2, 'a', 'b', 3, 4)
(3, 4, 3, 4, 3, 4)

In [14]:
# 딕셔너리 만들기

# Key 로 정수값 1, Value로 'hi'라는 문자열을 사용한 예
a = {1 : 'hi'}

# Value에 리스트도 넣을 수 있다.
a = {'a' : [1, 2, 3]}

In [16]:
# 쌍 추가, 삭제하기

a = {1 : 'a'}
a[2] = 'b'
a
# 추가되는 순서는 원칙이 없음. 중요한 것은 '무엇이 추가되었는가'

{1: 'a', 2: 'b'}

In [19]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [22]:
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [23]:
# 요소 삭제하기

del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [24]:
# key를 사용해 value얻기

grade = {'pey' : 10, 'julliet' : 99}
grade['pey']

10

In [28]:
a = {1:'a', 2:'b'}
print(a[1])
print(a[2])
# 딕셔너리에서 숫자는 요소의 위치를 뜻하지 않고, Key값을 의미. -> 키값에 해당하는 Value를 반환.

a
b

In [31]:
a = {'name':'pey', 'phone':'01025554080', 'birth':'1888'}
a.keys

In [32]:
for k in a.keys():
    print(k)

name
phone
birth

In [33]:
list(a.keys())

['name', 'phone', 'birth']

In [34]:
a.values()

dict_values(['pey', '01025554080', '1888'])

In [35]:
a.items()

dict_items([('name', 'pey'), ('phone', '01025554080'), ('birth', '1888')])

In [37]:
# Key로 value얻기

a.get('name')

# a['no key'] 라면 오류를 발생시키고, a.get('no key') 라면 None을 리턴한다.

'pey'

In [38]:
# 디폴트 값

a.get('foo', 'bar')

'bar'

In [40]:
# 해당 Key가 딕셔너리 안에 있는지 조사하기(in)
a = {'name':'pey', 'phone':'01025554080', 'birth':'1888'}
'name' in a

True

In [41]:
'email'in a

False